language: python
env:
  - MOZ_HEADLESS=1
addons:
  firefox: "latest"
python:
  - "3.5"
  - "3.6"
  - "3.7-dev"
before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.21.0/geckodriver-v0.21.0-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.21.0-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
  - export DISPLAY=127.0.0.1:99
install:
  - pip install -r requirements.txt
before_script:
  - python manage.py runserver &
  - sleep 3
script:
  - pwd
  - ls
  - ls tests/
  - pytest --collect-in-virtualenv --debug
  - cat pytestdebug.log

